.work-section {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding-top: 100px;
  background-color: var(--backgroundColor);
  width: 100%;
}
.work-section h2 {
  font-size: 70px;
  font-weight: 500;
  margin: 0;
}
.work-section h2 > span {
  color: var(--accentColor);
}

.work-info h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.work-info p {
  font-weight: 200;
  color: #adacac;
  margin: 0;
  margin-top: 3px;
}
.work-info > p {
  width: 90%;
}
.work-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.work-title > div {
  text-align: right;
}
.work-title h3 {
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  font-weight: 600;
}

.work-image {
  display: flex;
  width: 100%;
  justify-content: center;
}
.work-image-in {
  position: relative;
}
.work-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--backgroundColor);
  width: 50px;
  border-radius: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5), inset 0px 0px 10px 0px #393939;
  transition: 0.3s;
  opacity: 0;
}
.work-image a:hover .work-link {
  opacity: 1;
}
.work-image img {
  max-width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

@media only screen and (max-width: 900px) {
  .work-section h2 {
    font-size: 50px;
  }
}
